<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Quality</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">

    <div class="jumbotron">
        <h1 class="display-4">Wine Quality</h1>

        <form action="/predict" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fixed_acidity">Fixed Acidity:</label>
                    <input type="number" step="any" class="form-control" name="fixed_acidity" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="volatile_acidity">Volatile Acidity:</label>
                    <input type="number" step="any" class="form-control" name="volatile_acidity" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="citric_acid">Citric Acid:</label>
                    <input type="number" step="any" class="form-control" name="citric_acid" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="residual_sugar">Residual Sugar:</label>
                    <input type="number" step="any" class="form-control" name="residual_sugar" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="chlorides">Chlorides:</label>
                    <input type="number" step="any" class="form-control" name="chlorides" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="free_sulfur_dioxide">Free Sulfur Dioxide:</label>
                    <input type="number" step="any" class="form-control" name="free_sulfur_dioxide" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="total_sulfur_dioxide">Total Sulfur Dioxide:</label>
                    <input type="number" step="any" class="form-control" name="total_sulfur_dioxide" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="density">Density:</label>
                    <input type="number" step="any" class="form-control" name="density" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pH">pH:</label>
                    <input type="number" step="any" class="form-control" name="pH" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="sulphates">Sulphates:</label>
                    <input type="number" step="any" class="form-control" name="sulphates" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="alcohol">Alcohol:</label>
                    <input type="number" step="any" class="form-control" name="alcohol" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Predict</button>

            {% if cluster is defined %}
                <h2 class="mt-4">Result</h2>
                <p>Wine evaluation(1-6): {{ cluster }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
